:root {
  --paleblue: hsl(243, 100%, 93%);
  --grayblue: hsl(229, 7%, 55%);
  --darkblue: hsl(228, 56%, 26%);
  --verydarkblue: hsl(229, 57%, 11%);
}
@mixin gradient {
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.2;
  font-family: sans-serif;
  background-color: var(--verydarkblue);
  font-size: 1.4rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--paleblue);
}
span {
  color: var(--paleblue);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 4rem;
}
.background-image {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50vh;
  background-image: url("/images/bg-desktop.png");
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}
.left {
  background-color: var(--darkblue);
  padding: 3.6rem;
  border-radius: 10px;
  border-top-right-radius: 100px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  &-logo-main {
    display: flex;
  }
  &-logo {
    display: flex;
    align-items: center;
    gap: 2rem;
    &-block {
      border-radius: 10px;
      background-color: var(--verydarkblue);
      padding: 1rem;
      height: 5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.right {
  width: 70%;
  height: 15rem;
  background-color: var(--darkblue);
  padding: 3.6rem;
  border-radius: 10px;
  align-self: end;
  position: relative;

  &-description {
    margin-bottom: 2rem;
    opacity: 80%;
  }
  &-slider {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 100px;
    height: 2rem;
    background-color: var(--verydarkblue);
    opacity: 90%;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.5%;
      content: "";
      width: 70%;
      height: 1.6rem;
      @include gradient();
      border-radius: 100px;
    }
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      height: 1.4rem;
      width: 1.4rem;
      left: 68.2%;
      border-radius: 50%;

      background-color: var(--paleblue);
    }
  }
  &-size {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
  &-GB {
    font-weight: 600;
  }
  &-info {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-20%, -60%);
    border-radius: 10px;
    gap: 1rem;
    width: 28%;

    &-value {
      font-size: 4rem;
      font-weight: 600;
      color: var(--verydarkblue);
    }
    &-left {
      text-transform: uppercase;
      color: var(--grayblue);
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 50em) {
  .container {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .right-info {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 150%);
    height: 50%;
  }
}
